.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
    url('/src/images/home.jpg');
    @include bgImg();

    .home-text{
        color: $white;

        h1{
            font-size: 4rem;
            text-transform: capitalize;
            font-family: $raleway-extra-bold;
        }

        p{
            color: $white;
            font-size: 2rem;
            letter-spacing: 2px;
        }

        span{
            font-family: $pacifico;
            font-size: 5rem;
            text-transform: capitalize;
            color: rgb(255, 255, 255,.8);
        }
    }
}

@include responsive_mobile(){
    html{font-size: 13px;}
}

@include responsive_max(450px){
    .home-text{
        h1{font-size: 2rem!important;}
        p{font-size: 1.5rem!important;}
        span{font-size: 3rem!important;}
    }
}

