#header{
    @include transition();
    z-index: 999;
    .logo a{
        font-family: $pacifico;
        color: $white!important;
    }

    .nav-item{
        margin: 0 1rem;
        .nav-link{
            font-size: 1.6rem;
            color: rgb(255, 255, 255,.9);
        }
    }

    &.scrolled{background-color: $black; @include transition();}
}