@font-face{
    font-family: 'Raleway_Extra_Bold';
    src: url('/src/fonts/Raleway-ExtraBold.tff') format('truetype');
}

@font-face{
    font-family: 'Raleway_Semi_Bold';
    src: url('/src/fonts/Raleway-SemiBold.ttf') format('truetype');
}


@font-face{
    font-family: 'Baloo_Tamma_Bold';
    src: url('/src/fonts/BalooTamma2-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Baloo_Tamma_Regular';
    src: url('/src/fonts/BalooTamma2-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Baloo_Tamma_Semi_Bold';
    src: url('/src/fonts/BalooTamma2-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Pacifico';
    src: url('/src/fonts/Pacifico-Regular.ttf') format('truetype');
}