$raleway-extra-bold: 'Raleway_Extra_Bold', sans-serif;
$raleway-semi-bold: 'Raleway_Semi_Bold', sans-serif;

$baloo-tamma-bold: 'Baloo_Tamma_Bold', sans-serif;
$baloo-tamma-semi-bold: 'Baloo_Tamma_Semi_Bold', sans-serif;
$baloo-tamma-regular: 'Baloo_Tamma_Regular', sans-serif;


$pacifico: 'Pacifico', sans-serif;
