.preloader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: $black;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999;

    .loader{
        width: 60px;
        height: 60px;
        border: 9px solid $white;
        border-radius: 50%;
        border-top-color: transparent;
        animation: load 1s linear infinite;
    }
}

@keyframes load{
    to {
        transform: rotate(360deg);
    }
}
