@mixin bgImg($size: cover, $position: center center){
    background-position: $position!important;
    background-size: $size!important;
    background-repeat: no-repeat!important;
}

@mixin  transition($prop: all, $time: .3s, $type: linear) {
    transition: $prop $time $type;
}